@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
	--mainBg: #222632;
	--btnListen: #FFEBB3;
	--btnBot: #0080ff;
	--margin: 0 auto 25px;
}

::-webkit-scrollbar-thumb {
    background-color: #00a3ff;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #06090f;
}

::selection {
    background-color: #00a3ff;
    color: #fafafa;
}

element.style {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.3s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.3s;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Libre Baskerville";
}

@font-face {
    font-family: Libre Baskerville;
	src: url(/fonts/LibreBaskerville-Regular.woff) format('woff');
}

body {
    font-family: Libre Baskerville;
    background-color: #f7be26;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

img.avatar {
	width: 300px;
  height: auto;
}

.smallTxt {
	font-size: 3rem;
  line-height: 4rem;
  width: 80%;
  margin-top: 1rem;
}

.bigTxt {
	line-height: 5.5rem;
	font-size: 4.5rem;
	width: 85%;
}

/* HEADER */
header {
    background: #f7be26;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border-bottom: 1px solid rgba(114,114,126,0.2);
    z-index: 999;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.grid-layout {
    max-width: 1140px;
    margin: 0 auto;
}

header .grid-layout nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 8vh;
    padding: 0px 8px;
}

header .grid-layout nav img {
    width: 70px;
		padding: 1rem;
}

.mobile-menu {
    display: none;
}

header .grid-layout nav .nav-list {
    list-style: none;
    display: flex;
}

header .grid-layout nav .nav-list li {
    margin-left: 48px;
}

header .grid-layout nav .nav-list li a {
    color: #000;
    position: relative;
    font-size: 1.8rem;
    font-family: Libre Baskerville;
		text-decoration: none;
}
/* /HEADER */

/* HOME */
#s-home {
    padding: 0px 50px;
    background-color: #f7be26;
    position: relative;
}

.grid-layout {
    max-width: 1140px;
    margin: 0 auto;
}

#s-home .grid-layout #home {
    display: flex;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    width: 100%;
}

#s-home .grid-layout #home #home-container-text {
    width: 60%;
    flex-direction: column;
}

#home-container-text a {
	text-decoration: none;
}

#s-home .grid-layout #home #home-container-text h1 .typewriter {
    font-family: "Libre Baskerville";
}

element.style {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.3s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.3s;
}

#s-home .grid-layout #home #home-container-text h1 {
    color: #000;
    font-size: 2.4rem;
    font-weight: 400;
    font-family: Libre Baskerville;
}

#s-home .grid-layout #home #home-container-text h1 #home-name {
    font-size: 5.6rem;
    font-weight: 500;
}

#s-about .grid-layout .cv {
    background: #000;
    backdrop-filter: blur(10px);
    padding: 15px 30px;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    transition: all 0.4s ease;
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Libre Baskerville;
		color: #fff;
		text-decoration: none;
}

#s-about .grid-layout .whatsCTA {
	margin: 4rem 0 0;
}

#s-home .grid-layout #home #home-container-text img {
	max-width: 15%;
    height: auto;
    display: block;
}

#s-home .grid-layout #home #home-container-photo {
    width: 40%;
    height: 100vh;
    position: relative;
}

#s-home .grid-layout #home #home-container-photo #logo-lab {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

#s-home .grid-layout #home #home-container-photo .object {
    animation: MoveUpDown 4s linear infinite;
}

.ctaIcon {
	width: 15px;
	height: 15px;
	background-image: url('../img/iconDownload.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: inline-block;
	margin-left: 1rem;
  }
/* /HOME */

/* ABOUT */
#s-about {
    padding: 96px 48px;
    background-color: #f7be26;
		border-bottom: 1px solid rgba(114,114,126,0.2);
}


.grid-layout {
    max-width: 1140px;
    margin: 0 auto;
}

#s-about .grid-layout #about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#s-about .grid-layout #about-photo {
    width: 50%;
    /* padding-right: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 1s all ease;
}

#s-about .grid-layout #about-text {
    width: 75%;
		color: #000;
    font-family: "Libre Baskerville";
		font-weight: normal;
    font-line-height: 160%;
}

#s-about .grid-layout #about-text h2 {
    padding-bottom: 24px;
    color: #000;
    font-size: 4rem;
    font-weight: 500;
}

#s-about .grid-layout #about-text h2 span {
    color: #6610f2;
    font-size: 4.8rem;
}
/* /ABOUT */


/* PROJECTS */
#s-projects {
    padding: 0px 48px;
    text-align: center;
    /* background-color: #06090f; */
		background-color: #f7be26;
}

.grid-layout {
    max-width: 1140px;
    margin: 0 auto;
}

#s-projects .grid-layout h2 {
    padding-bottom: 24px;
    color: #fafafa;
    font-size: 4rem;
    font-weight: 500;
}

#s-projects .grid-layout h2 span {
    color: #00a3ff;
    font-size: 64px;
}

#s-projects .grid-layout #projects>article h3 {
    color: #fafafa;
    font-size: 2.4rem;
    font-weight: 500;
}

#webpages {
    color: #e51d37;
}

#s-projects .grid-layout #graphicdesign {
    color: #00a3ff;
}

#s-projects .grid-layout a {
    color: #00a3ff;
    position: relative;
    font-size: 1.8rem;
    font-weight: 400;
}

#s-projects .grid-layout #projects {
    margin: 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}

#s-projects .grid-layout #projects .webpages {
    border: 1px solid #e51d37;
}

#s-projects .grid-layout #projects>article {
    background-color: #06090f;
    height: auto;
    padding: 32px;
    margin: 8px;
    flex-basis: calc(33% - 20px);
    flex-grow: 1;
    border: 1px solid #06090f;
    transition: 1s all ease;
    min-height: 275px;
}

#s-projects .grid-layout #projects .graphicdesign {
    border: 1px solid #00a3ff;
}

#s-projects .grid-layout #projects>article {
    background-color: #06090f;
    height: auto;
    padding: 32px;
    margin: 8px;
    flex-basis: calc(33% - 20px);
    flex-grow: 1;
    border: 1px solid #06090f;
    transition: 1s all ease;
    min-height: 275px;
}
/* /PROJECTS */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
	justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 40%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.whatsCTA {
	max-width: 255px;
  display: inline-block;
  margin: 6rem 0 0;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 72px;
		background-color: #000;
}

footer .grid-layout {
    border-top: 1px solid rgba(114,114,126,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 8px;
}

.grid-layout {
    max-width: 1140px;
    margin: 0 auto;
}

footer .grid-layout #direitos-autorais {
    margin-top: 24px;
}

footer .grid-layout p {
    color: #fff;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 1.5rem;
}

footer .grid-layout div {
    display: flex;
		align-items: center;
		justify-content: space-around;
}

footer .grid-layout div img {
    width: 24px;
    margin-left: 8px;
}

.icons {
	width: 27px;
	margin-left: 2rem;
}
/* /FOOTER */


/* -------SCROLL TO TOP------ */
#return-to-top {
	z-index: 1000;
	position: fixed;
	bottom: 80px;
	right: 60px;
	background: #000;
	width: 40px;
	height: 40px;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

#return-to-top i  {
	color: #fff;
	margin: 0;
	position: relative;
	left: 11.5px;
	top: 10px;
	font-size: 30px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}


#return-to-top i img{
	width:40%;
}

#return-to-top:hover {
	background: #000;
}

#return-to-top:hover i {
	color: #fff;
	top: -5px;
}
/* -------/SCROLL TO TOP------ */


/*-------------------------------BREAKPOINTS-------------------------------*/

@media only screen and (max-width: 425px){
	.return-to-top{
		display: none;
	}
}

@media only screen and (max-width: 769px){
	#s-about .grid-layout #about {
		 display: inline-block;
	}

	#s-about .grid-layout #about-text {
    width: 100%;
}

#s-about .grid-layout #about-photo {
	  width: 100%;
    padding-bottom: 3rem;
		padding-right: 100px;
}
}

/*-------------------------------/BREAKPOINTS-------------------------------*/
